<mat-card class="" [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ 'flex': fullWidthMode }" class="mb-1 mx-auto">
    <img
      [ngClass]="{ 'w-[200px]': !fullWidthMode, 'w-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
      alt="product"
    />
    <div
      class=""
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Snickers</p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-300">{{ 150 | currency }}</span>
        <button mat-icon-button>
          <mat-icon class="text-gray-400">shopping_bag</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
